@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-gradient-ani   
mated {
  animation: gradient 5s ease infinite;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    .Home{
      background-clip: text;
      -webkit-background-clip: text;
      background-image: linear-gradient(45deg, #ee7752, #e73c7e, #F56E6E, #23d5ab, #23a6d5, #0000CD, #e73c7e ,#ee7752,#23d5ab, #23a6d5   );
      background-size: 400% 400%;
      animation: gradient 25s ease infinite;
    }
  
    @keyframes gradient {
      0% {
       background-position: 0% 50%;
      }
      50% {
       background-position: 100% 50%;
      }
      100% {
       background-position: 0% 50%;
      }
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

